body, html {
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
    }
.menu1 {
    position: fixed;
    width: 25%;
    height: 50px;
    background-color: #1a54e7;
}
.menu2 {
    position: fixed; 
    width: 75%;
    height: 50px;
    background-color: red;
    right: 0px;
}
 .blog {
    display: inline-block;
    margin-left: 100px;
    margin-top: 8px;
    font-weight: bold;
    margin-left: 250px;
    color: white;
    font-size: 15px;
} 
.template {
    font-weight: normal;
    font-family: PTSans;
    color: white;
    font-size: 15px;
}